@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginDemo</title>
</head>
<body>
    <div>
         <input name="Login" value="Login" />
         <input name="Password" value="Password" />
    </div>
</body>
</html>
